.container::before {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  min-height: 100vh;
  background-image: url("/background.jpg");
  width: 100%;
  background-image: no-repeat;
  background-size: cover;
  background-position: center;
  content: "";
  font-family: "M PLUS 1", sans-serif;
}

.main {
  position: relative;
  text-align: center;
  font-size: 3rem;
  min-height: 100vh;
  padding-top: 10rem;
}
